# POSTGRESQL
PG_USER=sm_user
PG_PASSWORD=sm_pass
PG_DB=sm_db
PG_PORT=5432

# Prisma
DATABASE_URL=postgresql://sm_user:sm_pass@localhost:5432/sm_db?schema=public

# Backend
BACKEND_PORT=3000
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d